{
{% if app_configurations.admin is defined %}
"auth": {{ app_configurations.auth | to_json }},
"admin": {{ app_configurations.admin | to_json }},
{% endif %}
{% if app_configurations.user is defined %}
"user": {{ app_configurations.user | to_json }},
{% endif %}
"replication": {{ app_configurations.replication | to_json }},
"cluster": {
},
{% if app_configurations.user is defined %}
"jobs": {{ app_configurations.jobs | to_json }},
{% endif %}
"metrics": {
},
"mail": {{ app_configurations.mail | to_json }},
"pension": {{ app_configurations.pension | to_nice_json }}
}