<html>
<body dir="rtl">
מעסיק/ה נכבד/ה,
<br>
<br>
אנו מודים לך על הרשמתך לשירותי סליקת מידע לקופות גמל דרך ט.מ.ל פנסיה.
<br>
<br>
צוות הפנסיה בט.מ.ל יחזור אליך בהקדם האפשרי לבחינת המשך התהליך.
<br>
<br>
רשימת החברות שרשמת לט.מ.ל פנסיה הן :
<ol>{{#each companies}} 
<li>{{companyName}} </li>
{{/each}}
</ol>
<br>
<br>
בברכה,
<br>
תחום פנסיה, 
<br>
ט.מ.ל מערכות מידע בע"מ
</body>
</html>