<html>
<body dir="rtl">
{{hubName}}, שלום רב
<br>
<br>
לידיעתך, התקבלו קבצים בכספת של ט.מ.ל עבורך, בהתאם לבקשתך.
<br>
<br>
שמות הקבצים הינם:
<br>
<br>
<ol>{{#each files}} 
<li>{{fileName}} </li>
{{/each}}
</ol>
<br>
<br>
במידה ואינך מעוניין להמשיך לקבל הודעות מסוג זה, אנא פנה לכתובת pension@tamal.co.il
<br>
<br>
בנוסף, תוכל לבדוק את הקבצים הממתינים לך גם בממשק בכתובת:
<br>
<br>
https://safe-pension.tamal.co.il
<br>
<br>
בברכה,
<br>
תחום פנסיה, 
<br>
ט.מ.ל מערכות מידע בע"מ
</body>
</html>