<html>
<body dir="rtl">
לקוח/ה יקר/ה,
<br>
<br>
מצ"ב קישור לרישום לשירות סליקת מידע וכספי ההפקדות הפנסיוניות של העובדים באמצעות טמל פנסיה, כחלק משירותי השכר נבצע את סליקת המידע והכספים לקופות הגמל בהתאם לדרישות המחוקק, אחרי השלמת הרישום מצידך והסדרת התשלום מול טמל נוכל להתחיל לשדר את הקבצים לקופות עבור עובדי החברה.
<br>
<br>
<a href="{{invitationLink}}">{{invitationLink}}</a>

<br>
הקישור יהיה זמין למשך {{daysToActivate}} ימים בלבד מרגע קבלת הודעה זו
<br>
<br>
בברכה,
<br>
ט.מ.ל מערכות מידע בע"מ
</body>
</html>